.estilos {
    color: white !important;
    font-family: sans-serif,'Times New Roman', Times, serif ;
    list-style: none;
    text-decoration: none;
    font-size: 1rem !important;
    transition: all 0.4s !important;
}

.estilos:hover {
    background-color: #1f1f1f !important;
    color: grey !important;
    font-size: 1.3rem !important;
}