.shopContainer {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.cartItem {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.cartItem img {
    width: 80px;
    margin-right: 20px;
}

.cartItem span {
    margin-right: 20px;
    font-weight: bold;
}

.cartItem p {
    margin-right: 20px;
}

.cartItem button {
    margin-left: auto;
}
